name: Lint code base

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint code base
    uses: bewuethr/workflows/.github/workflows/linter.yml@main

  shellcheck:
    name: Run shellcheck
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4.0.0

      - name: Run shellcheck
        uses: bewuethr/shellcheck-action@v2
